.digitFrame {
    display: "inline";
    margin-left: "1%";
    font-size: 50;
    padding: "1%";
    font-family: "sans-serif"
}

html {
    --s: 100px; /* control the size*/
    --c1: rgb(254, 220, 248, 0.7);
    --c2: rgb(239, 194, 255, 0.7);
    --c3: rgb(241, 205, 254, 0.7);
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }
